@model ProjektAPI.Models.SalaModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SalaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NazwaSali" class="control-label"></label>
                <input asp-for="NazwaSali" class="form-control" />
                <span asp-validation-for="NazwaSali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IloscRzedow" class="control-label"></label>
                <input asp-for="IloscRzedow" class="form-control" />
                <span asp-validation-for="IloscRzedow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IloscMiejsc" class="control-label"></label>
                <input asp-for="IloscMiejsc" class="form-control" />
                <span asp-validation-for="IloscMiejsc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
