@model ProjektAPI.Models.SalaModel

@{
    ViewData["Title"] = "Edycja sali kinowej";
}

<h1 style="font-weight:400" class="text-center">Edycja sali kinowej</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <br />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group row">
                <label asp-for="Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Id" disabled class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NazwaSali" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="NazwaSali" class="form-control" />
                    <span asp-validation-for="NazwaSali" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="IloscMiejsc" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="IloscMiejsc" required class="form-control" />
                    <span asp-validation-for="IloscMiejsc" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="IloscRzedow" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="IloscRzedow" class="form-control" />
                    <span asp-validation-for="IloscRzedow" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <input type="submit" value="Zapisz zmiany" class="text-light btn btn-dark" />
            </div>
        </form>
    </div>

</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
