@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<br />
    <h2 class="display-4">Witam w abstrakcyjnym kinie, stworzonym w celu zaliczenia przedmiotu</h2>
    <h3>Programowanie w środowisku ASP.NET</h3>
    <h5 class="display-6">Autor: Krystian Petek</h5>
</div>
