@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<br />
    <h2>Witam w abstrakcyjnym kinie, stworzonym w celu zaliczenia przedmiotu</h2>
    <h3>Programowanie w środowisku ASP.NET</h3>
    <h5 class="bd-content-title">Autor: Krystian Petek</h5>
</div>
<div><br /><br />
    <h5>Kliknij w <button class="btn btn-warning">BUTTON</button> , aby dodać 3 użytkowników o róznych rolach:</h5>
    <div class="buttonyPadding"><div style="opacity: 0.8;" class="wyswietlWLinii text-light alert bg-danger">ADMINISTRATOR</div> <h6 class="wyswietlWLinii"> - może zrobić wszystko, tz. modyfikować repertuar, klientów, sale kinowe, seanse a także bilety</h6></div>
    <div class="buttonyPadding"><div style="opacity: 0.8;" class="wyswietlWLinii text-light alert bg-success">PRACOWNIK</div> <h6 class="wyswietlWLinii"> - może modyfikować repertur, seanse, przeglądać sale kinowe i listę rezerwacji biletów, a także wszystkie możliwości klienta</h6></div>
    <div class="buttonyPadding"><div style="opacity: 0.8;" class="wyswietlWLinii text-light alert bg-primary">KLIENT</div> <h6 class="wyswietlWLinii"> - może przeglądać repertuar, wykonywać wszystkie operacje na rezerwacjach, a przeszłe tylko przeglądać</h6></div>
</div>
