@using ProjektAPI.Models;
@model Tuple<RezerwacjaModel, List<EmisjaModel>, List<KlientModel>>
@{
    ViewData["Title"] = "Dodawanie nowej rezerwacji";
}

<h1 style="font-weight:400" class="text-center">Dodawanie nowego filmu</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item1.Id" />

            <div class="form-group row">
                <label asp-for="Item1.Emisja.Film.Nazwa" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">

                    <select asp-for="Item1.Emisja.Film.Nazwa" class="form-control">
                        <option value="">Wybierz date!</option>
                        @{
                            List<string> lista = new List<string>();
                        }
                        @foreach(var item in @Model.Item2)
                        {
                            if(!lista.Contains(item.Film.Nazwa))
                            lista.Add(item.Film.Nazwa);
                        }
                        @{
                            foreach (var item in lista)
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    </select>                                                                                                                           `
                    <span asp-validation-for="Item1.Emisja.Film.Nazwa" class="text-danger"></span>

                </div>
            </div>
        </form>
    </div>
</div>